.navbar{
    background-color: transparent !important;
}
.bg-logo{
    background-color: #eae6e6;
    width: 150px;
}
.bg-light{
    color: red;

}
.navbar-brand{
    color:rgba(134, 126, 126, 0.9) !important;
    font-size: 13px; 
    padding-left: 25px;
}
.margin-span{
    margin-left: 76%;
    color: #0f64ff96;
    font-size: 13px;
}
.font-icon{
    font-size: 30px;
    color: #d6d3d3;
}
.font-icon2{
    font-size: 15px;
    color: #d6d3d3;
}
.bg-divisao{
    background-color: #0f64ff96;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.font-menu-div{
    font-size: 15px;
    color: white;
    padding-left: 100px;
    padding-top: 10px;
}
.back-fundo{
    background-color: #e8e5e5;
    background-repeat: no-repeat;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    margin-top: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -999;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    width: 1000px;
    padding-left: 50px;
}
.search-edit{
    position: absolute;
    margin-left: 20px;
    color: #a7a1a1;
}
.fa-plus-circle{
    color: white;
    position: absolute;
    margin-left: 1020px;
}
.btn{
    color: white;
    font-size: 13px;
    width: 100px;
    background-color: #6499f6;
}