.navbar{
    background-color: transparent !important;
}
.bg-logo{
    background-color: #eae6e6;
    width: 150px;
}
.bg-light{
    color: red;

}
.navbar-brand{
    color:rgba(134, 126, 126, 0.9) !important;
    font-size: 13px; 
    padding-left: 25px;
}
.margin-span{
    margin-left: 76%;
    color: #6161f1c4;
    font-size: 13px;
}
.font-icon{
    font-size: 30px;
    color: #d6d3d3;
}
.font-icon2{
    font-size: 15px;
    color: #d6d3d3;
}